body{
    text-align: center;
}

.btn{
    height : 200px;
    width : 200px;
    border-radius: 20%;
    border :10px solid black;
    margin : 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s;


}

.btn:hover{
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    transform: translateY(-5px);

}

.btn:active{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transform: translateY(0px);
}
.container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}   

.purple{
    background-color: #819ff9;
}

.yellow{
    background-color: #f99b45;
}   

.button {
  margin: auto;
  --main-color: rgb(46, 213, 115);
  --main-bg-color: rgba(46, 213, 116, 0.36);
  --pattern-color: rgba(46, 213, 116, 0.073);

 
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}

.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}
